@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
    box-sizing: border-box;
}

@mixin border-box($bc, $b, $br, $p, $w, $h) {
    background-color: $bc;
    border: $b;
    border-radius: $br;
    padding: $p;
    width: $w;
    height: $h;
}

#title {
    font-family: "Montserrat", Arial;
    color: #3700b3;
    font-size: 5em;
    border-bottom :2px solid #ccc;
    text-align: center;
    justify-self: center;
    margin-top: 1vh;
    padding-bottom: 1vh;
}

.subtitle {
    text-align: center;
    justify-self: center;
    font-size: 1.5em;
    margin-top: 1.5vh;
    font-family: "Oswald", helvetica;
    color: #3700b3;
}
button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    background-color: #3700b3;
    color: white;
    border-radius: 4px;
    border-style: none;
    padding: 6px 4px 6px 4px;
}
#editor{
    background-color: #f8f8f8;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    outline: none;  
    resize: none;
    overflow: auto;
    @include border-box(#f8f8f8, 3px solid #ccc, 4px, 12px 20px, 50vw, 30vh);
}

#preview {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 1vh;
    @include border-box(#f8f8f8, 3px solid #ccc, 4px, 12px 20px, 50vw, auto);
    min-height: 30vh;
}

code {
    display: inline-block;
    background-color: rgb(224, 224, 224);
    background-clip: padding-box;
    background-blend-mode: darken;
    padding: 0.5em;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

@media only screen and (min-width: 1px) and (max-width: 600px) {
    #title {
        font-size: 2em;
    }
    .subtitle {
        font-size: 1.5em;
        margin-top: 1vh;
    }
    textarea {
        @include border-box(#f8f8f8, 3px solid #ccc, 4px, 12px 20px, 85vw, 30vh);
    }
    #preview {
        @include border-box(#f8f8f8, 3px solid #ccc, 4px, 12px 20px, 85vw, auto);
        overflow-x: scroll;
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    #title {
        font-size: 3em;
    }
    .subtitle {
        font-size: 1.5em;
        margin-top: 1vh;
    }
    textarea {
        @include border-box(#f8f8f8, 3px solid #ccc, 4px, 12px 20px, 90vw, 30vh);
    }
    #preview {
        @include border-box(#f8f8f8, 3px solid #ccc, 4px, 12px 20px, 90vw, auto);
        overflow-x: scroll;
    }

}